.App {
  text-align: center;
  background-color: #FFF26C;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
}

.App-header {
  font-size: 2em;
  color: black;
}
